/**
 * @author Jason
 * @date 2015-01-23
 */
.homePage{
	margin: 0 auto;
}

.masthead {
	width: 25%;
	padding: 30px;
	position: fixed;
	top: 0;
	.title{
		font-size: 26px;
	}
	.describe{
		font-size: 22px;
	}
	.masthead-hr{
		border-bottom: 0 none;
		border-top-color: #eee;
		margin: 1rem 0;
		width: 80%;
	}
	.masthead-nav{
		list-style: none;
	}
	.nav-item{
		cursor: pointer;
	}
	.nav-item a{
		text-decoration: none;
		display: block;
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
		&:hover{
			background: #D3DEE8; 
		}
	}
	
}

.displayContainer{
	width: 70%;
	min-width: 70%;
	background: #E1CDE8;
	min-height: 600px;
	margin-left: 30%;
	margin-top: 30px;
	overflow: auto;
}

.bread-word{
	word-break: break-all;
  	word-wrap: break-word;
}
