/**
 * @author Ivy
 */
.basket_hasItem{
  .basket_order_link{
    margin:10px 0;
    text-align: right;
  }
  .basket_order_btn{
    margin:10px 0;
    float:left;
  }

}
.basket_quantity_item{
  text-align: center;
  .basket_product_remove,
  .basket_move_wishList{
    display: block;
  }
  .basket_order_quantity{
    text-align: center;
    width: 50px;
  }
  .basket_quantity_operation{
    min-width: 100px;
  }
}
.basket_order_table{
  .basket_productImg_section{
    text-align: center;
    img{width: 80px;height: 80px;}
  }
}

.orderSummary{
  width: 50%;
  float: right;
  dt{
    float:left;
    width: 50%;
    text-align: right;
    font-weight: normal;
  }
  :nth-last-of-type(1){
    font-weight: bold;
  }
  dd{
    float:right;
    width: 50%;
    text-align: right;
  }
}

.promotionalCode{
  width: 50%;
  float: left;
  padding:10px;
  background: #ccc;
  .btn{
    margin-left:10px;
  }
}