/**
 * @author Ivy
 */
/* start bracket breadcrumb style*/
.breadcrumb_bracket_section {
  li {
    display: inline-block;
    font-weight: bold;
    + li:before {
      color: #CCCCCC;
      content: "> ";
    }
    .active {
      font-weight: normal;
    }
  }
}

/* end  bracket breadcrumb style*/

/* start arrows breadcrumb style*/
@crumbBgColor:#f5f5f5;
@crumbActiveColor:#fff;
@crumbBorderColor:#ccc;
.breadcrumb_arrows_section {
  background: @crumbBgColor;
  li {
    float: left;
    list-style: none;
    a{
      background-color: @crumbBgColor;
      color: #444;
      float: left;
      padding: 0.7em 1em 0.7em 2em;
      position: relative;
    }
    a:hover,.active{
      background:@crumbActiveColor;
    }
    a:after{
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid;
      border-top: 1.5em solid transparent;
      content: "";
      margin-top: -1.5em;
      position: absolute;
      right: -1em;
      top: 50%;
      border-left-color: @crumbBgColor;
      z-index: 2;
    }
   a:before{
     border-bottom: 1.5em solid transparent;
     border-left: 1em solid;
     border-top: 1.5em solid transparent;
     content: "";
     margin-top: -1.5em;
     position: absolute;
     top: 50%;
     border-left-color: @crumbBorderColor;
     right: -1.1em;
     z-index: 1;
   }
   a:hover:after,.active:after{
     border-left-color: @crumbActiveColor;
   }
  }
}

/* end arrows breadcrumb style*/
