/**
 * @author Jack Han
 */

.siteFooter{
	.siteFooter_groupLink>ul, .siteFooter_groupLink_item>ul{
		list-style:none;
		margin:0;
		padding:0;	
	}
	.siteFooter_groupLink{
		margin-bottom:15px;
	}
	.siteFooter_groupLink_item{
		float:left;		
		padding:0 20px;
		border-right:1px solid #ccc;
		h2{
			padding:0;
			margin:0 0 10px;
			font-size:inherit;
			font-weight:bold;
		}
	}
	.siteFooter_groupLink_item.siteFooter_groupLink_item_last{
		border-right:0;
	}
	.siteFooter_btmLink{
		ul{
			margin:0;
			padding:0;
			list-style:none;
			li{
				float:left;
				a{
					padding:0 10px;
				}
			}
		}
	}
}


