/**
 * @author Jack Han
 */

.siteProductList{
    list-style:none;
    margin:0;
    padding:0;
    h2{
    	margin:0;
		padding:0;
		font-size:14px;
    }
    .siteProductList_thumb{
		img{
			width:100%;
			border:0;
		}
	}	
}

.productList_list{
	.siteProductList_item{
	    border-bottom: 1px solid;
	    padding: 15px 0;	
	    .siteProductList_rating{
	    	display:none;
	    }
	    .siteProductList_brief{
	    	dipslay:block;
	    }	
	}
	.siteProductList_item:after{
		clear:both;
		display:block;
		content:"";

	}
	.siteProductList_thumb, .siteProductList_info, .siteProductList_price, .siteProductList_handle{
		float:left;
		padding:0 15px 0 0;
	}
	.siteProductList_thumb{
		width:20%;		
		.siteProductList_saleOffer{
			display:none;
		}
		.siteProductList_compareBtn{
			display:none;
		}
	}
	.siteProductList_info{
		width:50%;
	}
	.siteProductList_price{
		width:10%;
		p{
			display:none;
		}
		font{
			word-wrap:break-word;
		}
		.siteProductList_priceIcon{
			text-align:center;
			.fa{
				font-size:45px;
			}
		}
	}
	.siteProductList_handle{
		width:20%;
		padding:0;
	}
	.siteProductList_handle{
		text-align:center;
		.siteProductList_handleQty,
		.siteProductList_handleAdd{
			width:100%;
			padding:6px 0;
			margin-bottom:10px;
		}
	}
}


.productList_thumbnail{
	.siteProductList_info{
		h2{
			padding:5px 0;
		}
	}
	.siteProductList_item.clearfix{
		clear:none;
	}
	padding-left:15px;
	.siteProductList_item{
		float:left;
		width:33.33333%;
		padding:0 15px 0 0;
		margin-bottom:15px;
		.siteProductList_brief{
			display:none;
		}
	}
	.siteProductList_thumb {
		position:relative;
		a{
			display:block;
		}
		.siteProductList_saleOffer{
			position:absolute;
			top:0;
			left:0;
			border:1px solid #333;
			background:#fff;
		}
		.siteProductList_compareBtn{
			position:absolute;	 
			bottom:0;
			left:10px;
			font-weight:normal;
			input{
				margin:0;
				vertical-align:middle;
			}
		}

	}
	.siteProductList_price {
		min-height:40px;
		.siteProductList_priceQuote{
			font-weight: bold;
		}
		p{
			color:#333;
			margin:0;
		}
		.siteProductList_priceIcon{
			display:none;
		}
	}
	.siteProductList_rating{
		margin-bottom: 10px;
		.siteProductList_ratingIcon{
			display: inline-block;
			height:20px;
			vertical-align: middle;
		}
	}
	.siteProductList_handle{
		.siteProductList_handleQty,
		.siteProductList_handleAdd{
			padding:6px auto;
			float:left;
		}
		.siteProductList_inventory{
			display:none;
		}
		.siteProductList_handleQty{
			width:30%;
			padding:6px 12px;
		}		
		.siteProductList_handleAdd{
			float:right;
		}
	}
}