/**
 * @author Jack Han
 */

.siteProductList{
    list-style:none;
    margin:0;
    padding:0;
    h2{
        margin:0;
        padding:0;
        font-size:14px;
    }
    .siteProductListThumb{
        img{
            width:100%;
            border:0;
        }
    }
}

.productListListMode{
    .siteProductListItem{
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        .siteProductListRating{
            display:none;
        }
        .siteProductListBrief{
            dipslay:block;
        }
    }
    .siteProductListItem:after{
        clear:both;
        display:block;
        content:"";

    }
    .siteProductListThumb, .siteProductListInfo, .siteProductListPrice, .siteProductListHandle{
        float:left;
        padding:0 15px 0 0;
        position:relative;
    }
    .siteProductListThumb{
        width:20%;
        .siteProductListSaleOffer{
            left: 0;
            position: absolute;
            top: 0;
            i{
                font-size:25px;
                color:#ffe400;
            }
        }
        .siteProductListCompareBtn{
            display:none;
        }
    }
    .siteProductListInfo{
        width:50%;
    }
    .siteProductListPrice{
        width:15%;
        p{
            display:none;
        }
        font{
            word-wrap:break-word;
        }
        .siteProductListPriceIcon{
            .fa{
                font-size:45px;
            }
        }
    }
    .siteProductListHandle{
        width:15%;
        padding:0;
    }
    .siteProductListHandle{
        text-align:center;
        .siteProductListInventory{
            display:block;
            margin-bottom:5px;
            i{
                padding-right:5px;
            }
        }
        .siteProductListHandleAdd{
            width:100%;
        }
    }
}


.productListThumbnailMode{
    .siteProductListInfo{
        h2{
            padding:5px 0;
        }
    }
    .siteProductListItem.clearfix{
        clear:none;
    }
    padding-left:15px;
    .siteProductListItem{
        float:left;
        width:33.33333%;
        padding:0 15px 0 0;
        margin-bottom:15px;
        .siteProductListBrief{
            display:none;
        }
    }
    .siteProductListThumb {
        position:relative;
        a{
            display:block;
        }
        .siteProductListSaleOffer{
            position:absolute;
            top:0;
            left:0;
            i{
                font-size:25px;
                color:#ffe400;
            }
        }
        .siteProductListCompareBtn{
            background:rgb(255,255,255);
            background:rgba(255,255,255,0.5);
            position:absolute;
            bottom:0;
            left:0;
            font-weight:normal;
        }

    }
    .siteProductListPrice {
        min-height:40px;
        .siteProductListPriceQuote{
            font-weight: bold;
        }
        p{
            color:#ccc;
            margin:0;
        }
        .siteProductListPriceIcon{
            display:none;
        }
    }
    .siteProductListRating{
        margin-bottom: 10px;
        .siteProductListRatingIcon{
            display: inline-block;
            height:20px;
            vertical-align: middle;
        }
    }
    .siteProductListHandle{
        .siteProductListHandleQty,
        .siteProductListHandleAdd{
            padding:6px auto;
            float:left;
        }
        .siteProductListInventory{
            display:none;
        }
        .form-group{
            width:30%;
            float:left;
            margin:0;
        }
        .siteProductListHandleAdd{
            float:right;
        }
    }
    .siteProductListHandle:after{
        clear:both;
        content:"";
        display:block;
    }
}