/**
 * @author Ivy
 */
.storeLocatorDetail{
    padding: 10px;
    min-height: 500px;
    border: 1px solid #ccc;
    margin: 0;
    .storeDetailInfo{
        padding: 0;
        .sotreInfoGetDir{
            display: block;
        }
        li{
            float: left;
            list-style: none;
            padding-right: 10px;
        }
        .storeInfoImg{
            width:100%;
            height:100%;
        }
    }
    .storeInfoMap{
        width: 35%;
        min-height: 300px;
        border: 1px solid #ccc;
    }
}
.storeDetailSection{
    ul{
        border: 1px solid #ccc;
        padding: 0;
    }
    li{
        list-style: none;
        margin: 10px 0;
        span{
            width:22%;
            padding:10px;
        }
    }
    h5{
        display: inline-block;
        vertical-align: top;
        width: 70%;
        padding: 0;
        margin: 0;
        font-weight: bold;
        P{
            font-size: 14px;
            font-weight: normal;
        }
    }
}
.storeServiceList{
    width: 60%;
    float: left;
    li{
        border-right: 1px solid #ccc;
        float: left;
        width: 50%;
    }
    li:nth-child(2n){
        border: 0;
    }
}
.storeFacilitiesList{
    width:30%;
    float: left;
    margin-left: 10px;
    display: inline;
}