/**
 * @author Ivy
 */
.store_locator{
    .store_locator_inputInfo{
      .form-control{
        display: inline-block;
        width: 30%;
      }
    }
  ul,p{
    margin: 0;
    padding: 0}
  li{
    list-style: none;
  }
}
.store_locator_map{
  margin: 20px auto;
  .store_map_panel{
    float: left;
    width:60%;
    .store_map_canvas{
      min-height: 300px;
      border: 1px solid #ccc;
      margin-bottom: 5%;
    }

  }
  .store_map_lenged{
    border: 1px solid #ccc;
    padding: 10px;
    li{
        width: 45%;
        margin-right: 5%;
        display: inline;
        float: left;
    }
    .glyphicon{
      margin:5px 10px 0 0
    }
    h5{
      font-weight: bold;
      width: 80%;
      margin-top: 0;
      display: inline-block;

    }
    p{font-weight: normal;}
  }
  .store_map_list{
    float: left;
    min-width: 200px;
    width: 20%;
    border: 1px solid #ccc;
    margin-left: 10px;
    display: inline;
    padding:10px;
    .store_mapList_icon{
      vertical-align: top;
    }
  }
  .store_mapList_info{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 80%;
    margin-bottom: 10px;
  }
}
.store_locator_mapGloble{
  .store_map_canvas{
    border: 1px solid #ccc;
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;
  }
}
.store_map_legendLocalStore,
.store_map_legendSuperStore,
{
  span{
    float: left;
  }
}
.store_mapList_storeName{
  span{
    float: right;
  }
}

