/**
 * @author Jack Han
 */


.siteTabView{	
	.siteTabView_content{
		border:3px solid #ccc; 
		padding:10px 15px;
	}
	.siteTabView_title{
		list-style:none;
		margin:0;
		padding:0;
		li{
			float: left;
			background:#eee;
			a{
				padding:10px 15px;
				display:block;
			}
		}
		li.active{
			background:#ccc;
		}
	}
}