/**
 * default theme file
 */

/*global vars*/
    @fs_xx_small: 11px;
    @fs_x_small: 12px;
    @fs_small: 13px;
    @fs_medium: 14px;


/*header*/
.header{
    .headerColLink{
        font-size:@fs_xx_small;
    }
}

/*navigation*/
.navbar{  
    .container-fluid{
        .nav{
            a{
                font-size:@fs_small;
            } 
        } 
      .navbar-brand{
            font-size:@fs_small;
        }          
    }
}

/*mini basket*/
.siteMinBasket{
    .siteMinBasket_popup{
        p{
            font-size:@fs_x_small;
        }
    }
}

/*footer*/
.siteFooter {
    .siteFooter_groupLink_item{
        h2{
            font-size:13px;
            font-weight:normal;
        }
        a{
            font-size:11px;
        }
    }
    .siteFooter_btmLink{
        font-size:11px;
    }
}

/*prodcut list*/
.siteProductList{
    font-size:13px;
}

